<p>users works!</p>
<form [formGroup]="profileForm">
  
    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <label>
        DOB:
        <input type="text" formControlName="DOB">
      </label>
      <label>
        Salary:
        <input type="text" formControlName="salary">
      </label>
  </form>
 
<button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Submit</button>